<ion-view view-title="About TeacherTip">
  <ion-content padding="true">

  <img src="img/logo.png" style="margin-top: 5%; margin-bottom: 5%;" class="center sliderlogo" >

  <h3 class="text-center">TeacherTip</h3>
  <p class="text-center"></br>This app is maintained by a teacher, for teachers. If you would like to contribute to the app then please send your tips to us!</br></p>
  </br>
  <button href="mailto://tristan@teachertips.com" class="button button-block button-positive">
  Send us your tips!
</button>

  </ion-content>
</ion-view>