<ion-view view-title='<img class="title-image" src="img/header.png" />'>
<ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> 
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <div class="slide-content">
        <img src="img/logo.png" class="center sliderlogo" >
        <h3>Is it just me, or are there sometimes too many ideas to implement in the classroom?</h3>
        <button class="button button-block button-dark" ng-click="next()">Next</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
        <img src="img/logo.png" class="center sliderlogo" >
        <h3>This is a curated TeacherTip delivered to your device every day to improve pedagogy.</h3>
        <button class="button button-block button-balanced" ng-click="next()">Next</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
        <img src="img/logo.png" class="center sliderlogo" >
        
         <form ng-controller="LoginCtrl">
            

            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="enter your username..." ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="enter your password..." ng-model="data.password">
                </label>
            </ion-list>
            <button class="button button-energized button-block" ng-click="loginEmail()">Done</button>
        </form>

        <a href = "#/app/signup" class="button button-dark" style="width: 100%; margin: 20px 0;">
        Or Sign Up
      </a>
 
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>