<ion-view view-title="Intro">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <div class="slide-content">
        <h3>Is it just me, or are there sometimes too many ideas to implement in the classroom?</h3>
        <button class="button button-block button-balanced" ng-click="next()">Next</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
        <h3>This is a curated TeacherTip delivered to your device every day to improve pedagogy.</h3>
        <button class="button button-block button-balanced" ng-click="next()">Next</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-content">
        <h3>We're trying to simplify things. Check it in the morning, change lives all day.</h3>
        <button class="button button-block button-balanced" ng-click="startApp()">
          Show me today's TeacherTip
        </button>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>