<ion-view>
  <ion-nav-title>
  Tip
  </ion-nav-title>
  <ion-content class="padding">
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
  <nav-page hide-back-button="true"></nav-page>
  
    <ion-list>
      


          <div class="list">

              <a class="item item-icon-right item-thumbnail-left" href="http://twitter.com/{{post.authortwitter[0]}}">
                <img src="{{post.authorpic[0]}}">
                </br><h2>{{post.authorname[0]}}</h2>
                <p>@{{post.authortwitter[0]}}</p>
                 <i class="icon ion-chevron-right icon-accessory"></i>
              </a>

          </div>

    </ion-item>
      </ion-list>


    <div class="card post">
      <div class="item post-title">
      <h2 ng-bind-html="post.title.rendered"></h2>
      </div>
      <div class="item item-body" ng-bind-html="content | html_filters"></div>


      <div class="item item-dark tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="https://twitter.com/intent/tweet?
                                  text={{post.title.rendered}} @{{post.authortwitter[0]}}
                                  hashtags=TeacherTipApp">
          <i class="icon ion-forward"></i>
          Share
        </a>
        <a class="tab-item large bottom-bar" href="#" ng-click="bookmarkItem(post.id)">
          <i ng-class="{'icon ion-ios-star': bookmarked, 'icon ion-ios-star-outline': !bookmarked}"></i>
          Bookmark
        </a>
      </div>

    </div>

  <!--  <div class="item item-divider">Comments</div>
      <ion-list ng-if="comments">
        <ion-item ng-repeat="comment in comments">
          <div class="item-body">
            <h3 ng-bind-html="comment.author_name"></h3>
            <p ng-bind-html="comment.content.rendered"></p>
          </div>
        </ion-item>
      </ion-list-->
  </ion-content>
</ion-view>
