.title {
  text-transform: uppercase;
  font-weight: 600;
}

.tipmenu {
  text-transform: capitalize;
}

/* Empty. Add your own CSS if you like */
.item-content p.post-excerpt {
	white-space: wrap;
}

.login-modal .close-button .icon::before {
	font-size: 18px !important;
}

.slider {
  height: 100%;
  color: #000;
}

.slider p{
  color: #000;
}

.slider-slide {
  padding-top: 80px;
  background-color: #fff;
  background-size: cover;
  text-align: center;
}

.slide-content {
	position: absolute;
	bottom: 5%;
	width: 100%;
	padding: 20px;
}

.sliderlogo {
  max-height: 150px; 
  padding: 20px;
  padding: 10px;
}

.menutip {
   text-transform: uppercase;
}

.slide-content h3 {
	color: #5852A3;
	margin-bottom: 35%;
  font-weight: 570;
}

/** Posts **/

.post .item.post-title, .post .item.post-title h2 {
	overflow: visible;
	white-space: normal;
	font-weight: bold;
   text-transform: uppercase;
}
.post .item-author {
    border: none;
}
.post .wp-caption.aligncenter {
    position: relative;
    margin-bottom: 1.0em;
    max-width: 100%;
    overflow: hidden;
}
.post .wp-caption .wp-caption-text {
    margin: 10px 0;
    text-align: center;
    font-style: italic;
}
.post ul,
.post ol {
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 15px;
}
.post ul ul,
.post ol ol {
    margin-bottom: 0;
}
.post .item ul, .post .item ol {
	color: #666;
	font-size: 14px;
}
.post ol {
    list-style: decimal;
}
.post ul {
    list-style: disc;
}
.post em {
    font-style: italic;
}

.post dl {
    margin-top: 0;
    margin-bottom: 5px;
}
.post dt,
.post dd {
    line-height: 1;
}
.post dt {
    font-weight: bold;
}
.post dd {
    margin-left: 0;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.alignleft {
	float: left;
	margin-right: 15px;
}
.post img {
  max-width: 100%;
  height: auto;
}
.post .item-body p a {
  text-decoration: underline;
}

.title-image {
    margin-top: 8px;
    height: 27px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bottombar {
  font-size: 16px;
  color: #fff;
}


/* Full screen image loading */

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}


/* tip elastic image */
.elastic-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 44px;
  /* Initial image height: */
  height: 300px;

}

.the-content {
  /* Same as initial image height: */
  padding-top: 300px;
}

.blur {

    filter: grayscale(20%);
    opacity: 1;
    position: relative; 
}

.wrapper {
  position: relative;
}

.wrapper p {
  background-color: #272822;
  bottom: 0%;
  width: 100%;
  color: white;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.95;
  font-size: 2em;
  text-align: center;
  padding: 0.40em 0.80em;
  position: absolute;
  line-height: 2em;
}