@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-LightItalic.eot');
  src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-LightItalic.woff') format('woff'),
    url('../fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('../fonts/Lato-HairlineItalic.eot');
  src: url('../fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-HairlineItalic.woff') format('woff'),
    url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BlackItalic.eot');
  src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-BlackItalic.woff') format('woff'),
    url('../fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.eot');
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('../fonts/Lato-Hairline.eot');
  src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Hairline.woff') format('woff'),
    url('../fonts/Lato-Hairline.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.eot');
  src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Black.woff') format('woff'),
    url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.eot');
  src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-BoldItalic.woff') format('woff'),
    url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.eot');
  src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Italic.woff') format('woff'),
    url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


/* Empty. Add your own CSS if you like */
.item-content p.post-excerpt {
	white-space: wrap;
}

.login-modal .close-button .icon::before {
	font-size: 18px !important;
}

.slider {
  height: 100%;
  color: #000;
}

.slider p{
  color: #000;
}

.slider-slide {
  padding-top: 80px;
  background-color: #fff;
  background-size: cover;
  text-align: center;
}

.slide-content {
	position: absolute;
	bottom: 20%;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.sliderlogo {
  position: absolute;
  bottom: 100px;
  max-width: 150px;
  padding: 20px;
  box-sizing: border-box;
}

.slide-content h3 {
	color: #5852A3;
	margin-bottom: 40px;
  font-weight: 570;
}

/** Posts **/

.post .item.post-title, .post .item.post-title h2 {
	overflow: visible;
	white-space: normal;
	font-weight: bold;
}
.post .item-author {
    border: none;
}
.post .wp-caption.aligncenter {
    position: relative;
    margin-bottom: 1.0em;
    max-width: 100%;
    overflow: hidden;
}
.post .wp-caption .wp-caption-text {
    margin: 10px 0;
    text-align: center;
    font-style: italic;
}
.post ul,
.post ol {
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 15px;
}
.post ul ul,
.post ol ol {
    margin-bottom: 0;
}
.post .item ul, .post .item ol {
	color: #666;
	font-size: 14px;
}
.post ol {
    list-style: decimal;
}
.post ul {
    list-style: disc;
}
.post em {
    font-style: italic;
}

.post dl {
    margin-top: 0;
    margin-bottom: 5px;
}
.post dt,
.post dd {
    line-height: 1;
}
.post dt {
    font-weight: bold;
}
.post dd {
    margin-left: 0;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.alignleft {
	float: left;
	margin-right: 15px;
}
.post img {
  max-width: 100%;
  height: auto;
}
.post .item-body p a {
  text-decoration: underline;
}

.title-image {
    margin-top: 8px;
    height: 27px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}